* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #2D2D44;
  color: #ffffff;
}

main {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.divAltura, .divPeso, .divCalc {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, button {
  padding: 10px;
  font-size: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
}

.footer{
  margin-top: auto;
  padding: 16px;
  bottom: 0;
  position: fixed;
  width: 100%;
  text-align: center;
}

.footer div, p, a{
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  margin-top: auto;
}

#resultado {
  cursor: pointer;
}

button {
  cursor: pointer;
  background-color: #00790c;
  color: rgb(255, 255, 255);
}

@media (max-width: 500px) {
  body, input, button {
    font-size: 15px;
  }
}